<%- include('header'); -%>
 <div class="content">
  <table id="catalog">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Email Address</th>
    </tr>
    <tr>
      <td>John Smith</td>
      <td>24 Cooken Avenue</td>
      <td>01945 321 348</td>
      <td>johnsmith1968@jmail.com</td>
    </tr>
    <tr>
      <td>Ben Benson</td>
      <td>42 Queen Street</td>
      <td>01645 928 371</td>
      <td>bensquared@lookout.com</td>
    </tr>
    <tr>
      <td>George Doe</td>
      <td>3A Penland Apartments</td>
      <td>01835 678 192</td>
      <td>gdoe@wahoo.com</td>
    </tr>
  </table>
 </div>
<%- include('footer'); -%>
