<%- include('header'); -%>
 <div class="content">
 <h1 id="title">Log in</h1>
 <p>*GET method yet to be implemented</p>
 <form>
    <label for="login">Username</label><br>
    <input type="text" id="login" name="login"><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password">
  </form>
 </div>
 <div class="content">
   <p>Don't have an account? <a href="/register">Register now!</a></p>
   <br>
  </div>
<%- include('footer'); -%>
