<%- include('header'); -%>
 <div class="content">
 <h1 id="title">Log in</h1>

 <form action = "/api/login" method="get">
    <label for="login">Username</label><br>
    <input type="text" id="login" name="login" required><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Login"> 
  </form>
 </div>
 <div class="content">
   <p>Don't have an account? <a href="/register">Register now!</a></p>
   <br>
  </div>
<%- include('footer'); -%>
